In [31]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline

plt.rcParams['font.family'] = 'Malgun Gothic'

In [10]:
population = pd.read_excel('../05/05._population_raw_data.xlsx', header=1)
population.fillna(method='pad', inplace=True)

population.rename(columns = {'행정구역(동읍면)별(1)':'광역시도', 
                             '행정구역(동읍면)별(2)':'시도', 
                             '계':'인구수'}, inplace=True)

population = population[(population['시도'] != '소계')]

population

,광역시도,시도,항목,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
6,서울특별시,종로구,총인구수 (명),144575,9919,12821,10326,9068,8886,6255,5401,4148,2096,740,212,37
7,서울특별시,종로구,남자인구수 (명),70092,4556,6367,5242,4423,4386,2872,2317,1712,809,222,72,11
8,서울특별시,종로구,여자인구수 (명),74483,5363,6454,5084,4645,4500,3383,3084,2436,1287,518,140,26
9,서울특별시,중구,총인구수 (명),122167,7353,10790,10455,9365,8044,5619,4612,3363,1724,682,156,28
10,서울특별시,중구,남자인구수 (명),59446,3293,5070,5218,4697,3970,2652,1984,1335,544,185,39,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
832,제주특별자치도,제주시,남자인구수 (명),246383,15942,16532,14159,16672,11807,7916,6000,3904,1774,424,52,6
833,제주특별자치도,제주시,여자인구수 (명),246536,14051,15179,13656,16630,12453,9023,7653,6427,4411,1912,580,129
834,제주특별자치도,서귀포시,총인구수 (명),184224,9194,9305,8531,10901,11318,8538,6931,5574,3355,1115,261,76
835,제주특별자치도,서귀포시,남자인구수 (명),92865,4953,5025,4297,5392,5523,4086,3092,2083,985,198,32,3
836,제주특별자치도,서귀포시,여자인구수 (명),91359,4241,4280,4234,5509,5795,4452,3839,3491,2370,917,229,73

In [11]:
population.is_copy = False

population.rename(columns = {'항목':'구분'}, inplace=True)

population.loc[population['구분'] == '총인구수 (명)', '구분'] = '합계'
population.loc[population['구분'] == '남자인구수 (명)', '구분'] = '남자'
population.loc[population['구분'] == '여자인구수 (명)', '구분'] = '여자'

population

,광역시도,시도,구분,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
6,서울특별시,종로구,합계,144575,9919,12821,10326,9068,8886,6255,5401,4148,2096,740,212,37
7,서울특별시,종로구,남자,70092,4556,6367,5242,4423,4386,2872,2317,1712,809,222,72,11
8,서울특별시,종로구,여자,74483,5363,6454,5084,4645,4500,3383,3084,2436,1287,518,140,26
9,서울특별시,중구,합계,122167,7353,10790,10455,9365,8044,5619,4612,3363,1724,682,156,28
10,서울특별시,중구,남자,59446,3293,5070,5218,4697,3970,2652,1984,1335,544,185,39,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
832,제주특별자치도,제주시,남자,246383,15942,16532,14159,16672,11807,7916,6000,3904,1774,424,52,6
833,제주특별자치도,제주시,여자,246536,14051,15179,13656,16630,12453,9023,7653,6427,4411,1912,580,129
834,제주특별자치도,서귀포시,합계,184224,9194,9305,8531,10901,11318,8538,6931,5574,3355,1115,261,76
835,제주특별자치도,서귀포시,남자,92865,4953,5025,4297,5392,5523,4086,3092,2083,985,198,32,3
836,제주특별자치도,서귀포시,여자,91359,4241,4280,4234,5509,5795,4452,3839,3491,2370,917,229,73

## 5-3. 인구 소멸 위기 지역 계산하고 데이터 정리하기

In [12]:
population['20-39세'] = population['20 - 24세'] + population['25 - 29세'] + \
                        population['30 - 34세'] + population['35 - 39세']
    
population['65세이상'] = population['65 - 69세'] + population['70 - 74세'] + \
                        population['75 - 79세'] + population['80 - 84세'] + \
                        population['85 - 89세'] + population['90 - 94세'] + \
                        population['95 - 99세'] + population['100+']
            
population.head(10)

,광역시도,시도,구분,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+,20-39세,65세이상
6,서울특별시,종로구,합계,144575,9919,12821,10326,9068,8886,6255,5401,4148,2096,740,212,37,42134,27775
7,서울특별시,종로구,남자,70092,4556,6367,5242,4423,4386,2872,2317,1712,809,222,72,11,20588,12401
8,서울특별시,종로구,여자,74483,5363,6454,5084,4645,4500,3383,3084,2436,1287,518,140,26,21546,15374
9,서울특별시,중구,합계,122167,7353,10790,10455,9365,8044,5619,4612,3363,1724,682,156,28,37963,24228
10,서울특별시,중구,남자,59446,3293,5070,5218,4697,3970,2652,1984,1335,544,185,39,12,18278,10721
11,서울특별시,중구,여자,62721,4060,5720,5237,4668,4074,2967,2628,2028,1180,497,117,16,19685,13507
12,서울특별시,용산구,합계,222413,13137,19314,19687,17942,12557,8791,7178,5672,3040,1151,286,75,70080,38750
13,서울특별시,용산구,남자,106881,6079,9153,9745,8888,5986,3965,3018,2225,1041,357,79,20,33865,16691
14,서울특별시,용산구,여자,115532,7058,10161,9942,9054,6571,4826,4160,3447,1999,794,207,55,36215,22059
15,서울특별시,성동구,합계,285137,18521,24522,23075,23333,15994,11154,9039,6198,2980,965,209,51,89451,46590

In [13]:
pop = pd.pivot_table(population, 
                     index = ['광역시도', '시도'], 
                     columns = ['구분'],
                     values = ['인구수', '20-39세', '65세이상'])
pop

          20-39세                  65세이상                    인구수
구분            남자      여자      합계     남자     여자      합계      남자      여자      합계
광역시도 시도
강원도  강릉시   24539   20913   45452  20485  27304   47789  105554  107213  212767
     고성군    3070    1996    5066   3548   4762    8310   14091   13235   27326
     동해시   10090    7775   17865   8438  10803   19241   45713   44237   89950
     삼척시    6588    5354   11942   7248   9785   17033   32214   31516   63730
     속초시    9916    8031   17947   7253   9625   16878   41074   41716   82790
...          ...     ...     ...    ...    ...     ...     ...     ...     ...
충청북도 진천군   11645    8980   20625   6416   8227   14643   44946   40611   85557
     청원구   30923   25104   56027  11359  15145   26504   99814   94283  194097
     청주시  126512  108738  235250  52788  68725  121513  428231  420798  849029
     충주시   25785   20139   45924  19174  25096   44270  105853  103306  209159
     흥덕구   43596   37656   81252  14055  17853   31908  135779  131564  267343

[261 rows x 9 columns]

In [14]:
pop['소멸비율'] = pop['20-39세','여자'] / (pop['65세이상','합계'] / 2)
pop.head()

         20-39세                65세이상                   인구수                  \
구분           남자     여자     합계     남자     여자     합계      남자      여자      합계
광역시도 시도
강원도  강릉시  24539  20913  45452  20485  27304  47789  105554  107213  212767
     고성군   3070   1996   5066   3548   4762   8310   14091   13235   27326
     동해시  10090   7775  17865   8438  10803  19241   45713   44237   89950
     삼척시   6588   5354  11942   7248   9785  17033   32214   31516   63730
     속초시   9916   8031  17947   7253   9625  16878   41074   41716   82790

              소멸비율
구분
광역시도 시도
강원도  강릉시  0.875222
     고성군  0.480385
     동해시  0.808170
     삼척시  0.628662
     속초시  0.951653

In [15]:
pop['소멸위기지역'] = pop['소멸비율'] < 1.0
pop.head()

         20-39세                65세이상                   인구수                  \
구분           남자     여자     합계     남자     여자     합계      남자      여자      합계
광역시도 시도
강원도  강릉시  24539  20913  45452  20485  27304  47789  105554  107213  212767
     고성군   3070   1996   5066   3548   4762   8310   14091   13235   27326
     동해시  10090   7775  17865   8438  10803  19241   45713   44237   89950
     삼척시   6588   5354  11942   7248   9785  17033   32214   31516   63730
     속초시   9916   8031  17947   7253   9625  16878   41074   41716   82790

              소멸비율 소멸위기지역
구분
광역시도 시도
강원도  강릉시  0.875222   True
     고성군  0.480385   True
     동해시  0.808170   True
     삼척시  0.628662   True
     속초시  0.951653   True

In [16]:
pop[pop['소멸위기지역']==True].index.get_level_values(1)

Index(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '인제군', '정선군',
       ...
       '태안군', '홍성군', '괴산군', '단양군', '보은군', '영동군', '옥천군', '음성군', '제천시', '충주시'],
      dtype='object', name='시도', length=115)

In [17]:
pop.reset_index(inplace=True) 
pop.head()

   광역시도   시도 20-39세                65세이상                   인구수          \
구분               남자     여자     합계     남자     여자     합계      남자      여자
0   강원도  강릉시  24539  20913  45452  20485  27304  47789  105554  107213
1   강원도  고성군   3070   1996   5066   3548   4762   8310   14091   13235
2   강원도  동해시  10090   7775  17865   8438  10803  19241   45713   44237
3   강원도  삼척시   6588   5354  11942   7248   9785  17033   32214   31516
4   강원도  속초시   9916   8031  17947   7253   9625  16878   41074   41716

                소멸비율 소멸위기지역
구분      합계
0   212767  0.875222   True
1    27326  0.480385   True
2    89950  0.808170   True
3    63730  0.628662   True
4    82790  0.951653   True

In [18]:
tmp_coloumns = [pop.columns.get_level_values(0)[n] + \
                pop.columns.get_level_values(1)[n] 
                for n in range(0,len(pop.columns.get_level_values(0)))]

pop.columns = tmp_coloumns

pop.head()

,광역시도,시도,20-39세남자,20-39세여자,20-39세합계,65세이상남자,65세이상여자,65세이상합계,인구수남자,인구수여자,인구수합계,소멸비율,소멸위기지역
0,강원도,강릉시,24539,20913,45452,20485,27304,47789,105554,107213,212767,0.875222,True
1,강원도,고성군,3070,1996,5066,3548,4762,8310,14091,13235,27326,0.480385,True
2,강원도,동해시,10090,7775,17865,8438,10803,19241,45713,44237,89950,0.808170,True
3,강원도,삼척시,6588,5354,11942,7248,9785,17033,32214,31516,63730,0.628662,True
4,강원도,속초시,9916,8031,17947,7253,9625,16878,41074,41716,82790,0.951653,True

In [19]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   광역시도      261 non-null    object
 1   시도        261 non-null    object
 2   20-39세남자  261 non-null    int64
 3   20-39세여자  261 non-null    int64
 4   20-39세합계  261 non-null    int64
 5   65세이상남자   261 non-null    int64
 6   65세이상여자   261 non-null    int64
 7   65세이상합계   261 non-null    int64
 8   인구수남자     261 non-null    int64
 9   인구수여자     261 non-null    int64
 10  인구수합계     261 non-null    int64
 11  소멸비율      261 non-null    float64
 12  소멸위기지역    261 non-null    bool
dtypes: bool(1), float64(1), int64(9), object(2)
memory usage: 24.8+ KB

## 5-5. 지도 시각화를 위해 지역별 고유 ID 만들기

In [20]:
pop['시도'].unique()

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '권선구', '기흥구',
       '김포시', '남양주시', '단원구', '덕양구', '동두천시', '동안구', '만안구', '부천시', '분당구',
       '상록구', '성남시', '수원시', '수정구', '수지구', '시흥시', '안산시', '안성시', '안양시',
       '양주시', '양평군', '여주시', '연천군', '영통구', '오산시', '용인시', '의왕시', '의정부시',
       '이천시', '일산동구', '일산서구', '장안구', '중원구', '처인구', '파주시', '팔달구', '평택시',
       '포천시', '하남시', '화성시', '거제시', '거창군', '김해시', '남해군', '마산합포구', '마산회원구',
       '밀양시', '사천시', '산청군', '성산구', '양산시', '의령군', '의창구', '진주시', '진해구',
       '창녕군', '창원시', '통영시', '하동군', '함안군', '함양군', '합천군', '경산시', '경주시',
       '고령군', '구미시', '군위군', '김천시', '남구', '문경시', '봉화군', '북구', '상주시', '성주군',
       '안동시', '영덕군', '영양군', '영주시', '영천시', '예천군', '울릉군', '울진군', '의성군',
       '청도군', '청송군', '칠곡군', '포항시', '광산구', '동구', '서구', '달서구', '달성군', '수성구',
       '중구', '대덕구', '유성구', '강서구', '금정구', '기장군', '동래구', '부산진구', '사상구',
       '사하구', '수영구', '연제구', '영도구', '해운대구', '강남구', '강동구', '강북구', '관악구',
       '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구',
       '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구',
       '중랑구', '세종특별자치시', '울주군', '강화군', '계양구', '남동구', '미추홀구', '부평구', '연수구',
       '옹진군', '강진군', '고흥군', '곡성군', '광양시', '구례군', '나주시', '담양군', '목포시',
       '무안군', '보성군', '순천시', '신안군', '여수시', '영광군', '영암군', '완도군', '장성군',
       '장흥군', '진도군', '함평군', '해남군', '화순군', '고창군', '군산시', '김제시', '남원시',
       '덕진구', '무주군', '부안군', '순창군', '완산구', '완주군', '익산시', '임실군', '장수군',
       '전주시', '정읍시', '진안군', '서귀포시', '제주시', '계룡시', '공주시', '금산군', '논산시',
       '당진시', '동남구', '보령시', '부여군', '서북구', '서산시', '서천군', '아산시', '예산군',
       '천안시', '청양군', '태안군', '홍성군', '괴산군', '단양군', '보은군', '상당구', '서원구',
       '영동군', '옥천군', '음성군', '제천시', '증평군', '진천군', '청원구', '청주시', '충주시',
       '흥덕구'], dtype=object)

In [21]:
si_name = [None] * len(pop)

tmp_gu_dict = {'수원':['장안구', '권선구', '팔달구', '영통구'], 
                       '성남':['수정구', '중원구', '분당구'], 
                       '안양':['만안구', '동안구'], 
                       '안산':['상록구', '단원구'], 
                       '고양':['덕양구', '일산동구', '일산서구'], 
                       '용인':['처인구', '기흥구', '수지구'], 
                       '청주':['상당구', '서원구', '흥덕구', '청원구'], 
                       '천안':['동남구', '서북구'], 
                       '전주':['완산구', '덕진구'], 
                       '포항':['남구', '북구'], 
                       '창원':['의창구', '성산구', '진해구', '마산합포구', '마산회원구'], 
                       '부천':['오정구', '원미구', '소사구']}

In [22]:
for n in pop.index:
    if pop['광역시도'][n][-3:] not in ['광역시', '특별시', '자치시']:
        if pop['시도'][n][:-1]=='고성' and pop['광역시도'][n]=='강원도':
            si_name[n] = '고성(강원)'
        elif pop['시도'][n][:-1]=='고성' and pop['광역시도'][n]=='경상남도':
            si_name[n] = '고성(경남)'
        else:
             si_name[n] = pop['시도'][n][:-1]
                
        for keys, values in tmp_gu_dict.items():
            if pop['시도'][n] in values:
                if len(pop['시도'][n])==2:
                    si_name[n] = keys + ' ' + pop['시도'][n]
                elif pop['시도'][n] in ['마산합포구','마산회원구']:
                    si_name[n] = keys + ' ' + pop['시도'][n][2:-1]
                else:
                    si_name[n] = keys + ' ' + pop['시도'][n][:-1]
        
    elif pop['광역시도'][n] == '세종특별자치시':
        si_name[n] = '세종'
        
    else:
        if len(pop['시도'][n])==2:
            si_name[n] = pop['광역시도'][n][:2] + ' ' + pop['시도'][n]
        else:
            si_name[n] = pop['광역시도'][n][:2] + ' ' + pop['시도'][n][:-1]

In [23]:
si_name

['강릉',
 '고성(강원)',
 '동해',
 '삼척',
 '속초',
 '양구',
 '양양',
 '영월',
 '원주',
 '인제',
 '정선',
 '철원',
 '춘천',
 '태백',
 '평창',
 '홍천',
 '화천',
 '횡성',
 '가평',
 '고양',
 '과천',
 '광명',
 '광주',
 '구리',
 '군포',
 '수원 권선',
 '용인 기흥',
 '김포',
 '남양주',
 '안산 단원',
 '고양 덕양',
 '동두천',
 '안양 동안',
 '안양 만안',
 '부천',
 '성남 분당',
 '안산 상록',
 '성남',
 '수원',
 '성남 수정',
 '용인 수지',
 '시흥',
 '안산',
 '안성',
 '안양',
 '양주',
 '양평',
 '여주',
 '연천',
 '수원 영통',
 '오산',
 '용인',
 '의왕',
 '의정부',
 '이천',
 '고양 일산동',
 '고양 일산서',
 '수원 장안',
 '성남 중원',
 '용인 처인',
 '파주',
 '수원 팔달',
 '평택',
 '포천',
 '하남',
 '화성',
 '거제',
 '거창',
 '고성(경남)',
 '김해',
 '남해',
 '창원 합포',
 '창원 회원',
 '밀양',
 '사천',
 '산청',
 '창원 성산',
 '양산',
 '의령',
 '창원 의창',
 '진주',
 '창원 진해',
 '창녕',
 '창원',
 '통영',
 '하동',
 '함안',
 '함양',
 '합천',
 '경산',
 '경주',
 '고령',
 '구미',
 '군위',
 '김천',
 '포항 남구',
 '문경',
 '봉화',
 '포항 북구',
 '상주',
 '성주',
 '안동',
 '영덕',
 '영양',
 '영주',
 '영천',
 '예천',
 '울릉',
 '울진',
 '의성',
 '청도',
 '청송',
 '칠곡',
 '포항',
 '광주 광산',
 '광주 남구',
 '광주 동구',
 '광주 북구',
 '광주 서구',
 '대구 남구',
 '대구 달서',
 '대구 달성',
 '대구 동구',
 '대구 북구',
 '대구 서구',
 '대구 수성',
 '대구 중구',
 '대전 대덕',
 '대전 동구',
 '대전 서구',
 '대전 유성',
 '대전 중구',
 '부산 강서',
 '부산 금정',
 '부산 기장',
 '부산 남구',
 '부산 동구',
 '부산 동래',
 '부산 부산진',
 '부산 북구',
 '부산 사상',
 '부산 사하',
 '부산 서구',
 '부산 수영',
 '부산 연제',
 '부산 영도',
 '부산 중구',
 '부산 해운대',
 '서울 강남',
 '서울 강동',
 '서울 강북',
 '서울 강서',
 '서울 관악',
 '서울 광진',
 '서울 구로',
 '서울 금천',
 '서울 노원',
 '서울 도봉',
 '서울 동대문',
 '서울 동작',
 '서울 마포',
 '서울 서대문',
 '서울 서초',
 '서울 성동',
 '서울 성북',
 '서울 송파',
 '서울 양천',
 '서울 영등포',
 '서울 용산',
 '서울 은평',
 '서울 종로',
 '서울 중구',
 '서울 중랑',
 '세종',
 '울산 남구',
 '울산 동구',
 '울산 북구',
 '울산 울주',
 '울산 중구',
 '인천 강화',
 '인천 계양',
 '인천 남동',
 '인천 동구',
 '인천 미추홀',
 '인천 부평',
 '인천 서구',
 '인천 연수',
 '인천 옹진',
 '인천 중구',
 '강진',
 '고흥',
 '곡성',
 '광양',
 '구례',
 '나주',
 '담양',
 '목포',
 '무안',
 '보성',
 '순천',
 '신안',
 '여수',
 '영광',
 '영암',
 '완도',
 '장성',
 '장흥',
 '진도',
 '함평',
 '해남',
 '화순',
 '고창',
 '군산',
 '김제',
 '남원',
 '전주 덕진',
 '무주',
 '부안',
 '순창',
 '전주 완산',
 '완주',
 '익산',
 '임실',
 '장수',
 '전주',
 '정읍',
 '진안',
 '서귀포',
 '제주',
 '계룡',
 '공주',
 '금산',
 '논산',
 '당진',
 '천안 동남',
 '보령',
 '부여',
 '천안 서북',
 '서산',
 '서천',
 '아산',
 '예산',
 '천안',
 '청양',
 '태안',
 '홍성',
 '괴산',
 '단양',
 '보은',
 '청주 상당',
 '청주 서원',
 '영동',
 '옥천',
 '음성',
 '제천',
 '증평',
 '진천',
 '청주 청원',
 '청주',
 '충주',
 '청주 흥덕']

In [24]:
pop['ID'] = si_name

In [25]:
del pop['20-39세남자']
del pop['65세이상남자']
del pop['65세이상여자']

pop.head()

,광역시도,시도,20-39세여자,20-39세합계,65세이상합계,인구수남자,인구수여자,인구수합계,소멸비율,소멸위기지역,ID
0,강원도,강릉시,20913,45452,47789,105554,107213,212767,0.875222,True,강릉
1,강원도,고성군,1996,5066,8310,14091,13235,27326,0.480385,True,고성(강원)
2,강원도,동해시,7775,17865,19241,45713,44237,89950,0.808170,True,동해
3,강원도,삼척시,5354,11942,17033,32214,31516,63730,0.628662,True,삼척
4,강원도,속초시,8031,17947,16878,41074,41716,82790,0.951653,True,속초

## 5-6. Cartogram으로 우리나라 지도 만들기